name: ci-example
on: 
  push:
    branches: 
      - github-actions
jobs:
  ci:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14.18.1'
      - name: yarn install, test and build
        run: |
          yarn install --frozen-lockfile
          yarn test
          yarn build --if-present
        env:
          CI: true